/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.container {
	width: 1120px;
	margin-left: auto; 
	margin-right: auto; 
}

.main-navigation {

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;
		padding-left: 1.5rem; 

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		text-decoration: none;
		color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

	.menu {
		display: flex; 
		justify-content: space-between; 
	}
	.tent-logo a img {
		height: 25px;
		width: 20%; 
}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.main-navigation {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%;
	text-transform: uppercase;
	margin-left: auto;
	margin-right: auto; 
  .menu_item a {
    padding: 15px;
    text-transform: uppercase;
		color: white; 
		font-family: 'Novecento Sans Web', serif; 
  }
  .menu_item a:active {
    color: white; 
  }
  .search-input {
		width: 0px;  
		border: 0; 
    input {
      background-color: rgba(255,255,255,0);
      border: none;
			width: 100px;
    }
  }
}
//navigation 
.logged-in .site-header{
	top: 33px;
}
.site-header {
  background-color: hsla(0,0%,100%,.85);
  border-bottom: 1px solid #e1e1e1; 
    padding: 0;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
		z-index: 3;
		top: 0;
  .container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
	}
  .main-navigation{
    a {
      color: #248a83;
      font-family: 'Novecento Sans Web', serif;
    }
  }
}
.logged-in .reverse-header {
	top: 30px; 
}
.reverse-header {
  background-color: transparent; 
  border-bottom: 0; 
  color: #fff;
	position: fixed; 
  .main-navigation{
    a {
      color: #fff;
      font-family: 'Novecento Sans Web', serif;
      &:hover {
        color: #EEE4D3;
      }
    }
	}
}
.reverse-header .fa-search {
	padding-top: 10px;
	color: #fff;
	&:hover {
		color: #EEE4D3;
	}
}

.site-header .search-submit {
	display: none;
}

.site-header .search-field {
	width: 0;
	transition: .5s;
	border: none; 
	opacity: 0;
	&.show {
		width: 200px; 
		height: 15px; 
		border: none;
		opacity: 1;  
		background-color: transparent; 
		color: #EEE4D3;
	}
}

.tent-logo {
	height: 33px;
	margin-right: 10%;
	overflow: hidden;
	white-space: nowrap;
}

