/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// home page 
.site-header {
  background-color: transparent; 
    padding: .5rem 0;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
    z-index: 3;
  container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
}

// front-page 


