/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body {
  font-family: 'Merriweather', sans-serif;
}
 h1 {
  font-family: 'Novecento Sans Web', sans-serif;
}
h3 {
  font-family: 'Novecento Sans Web', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}