/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

// home page 
.site-header {
  background-color: transparent; 
    padding: .5rem 0;
    position: fixed;
    transition: top .5s linear;
    width: 100%;
    z-index: 3;
  container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }
}
//about 

.entry-header.hero-image-header {
  height: 100vh; 
}
h1.entry-title {
  color: $color__background-body;
}

.page-template-about .entry-content>:not(header) {
  margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}


//product page 
.product-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.product-grid-item .wp-post-image {
  left: 50%;
  max-height: 250px;
  max-width: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-52%);
  width: auto;
}


