//search results page 
.search-results .entry-header .entry-title {
  a{
    text-decoration: none; 
    color: #248a83;
    font-family: 'Novecento Sans Web',sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase; 
  }
  p {
    font-family: 'Merriweather', serif; 
  }
}