.site-footer {
  background-image: url("../../images/dark-wood@2x.png");
  // background-size: 512px 512px; 
  // background-color: aqua; 
  color: #fff;
  display: flex; 
  flex-wrap: wrap; 
  font-family: 'Merriweather', sans-serif;
  a {
    color: #fff;
    text-decoration: none; 
  }
  p {
    margin-bottom: 0;
  }
  .business {
    width: 25%; 
    font-size: .7rem; 
    padding-right: 1.5rem; 
    margin: 0 3 0 0; 
    .business-hours {
      color: #d99054;
    }
  }
  .contact {
    width: 25%; 
    font-size: .7rem; 
    padding-right: 1.5rem;
    margin-left: 10%;
    .contact-info {
      color: #d99054;
    }
  }
  .footer-logo {
    margin-top: 5%;
  }
}

.copyright {
  width: 100%;
  margin-left: 25%;
  font-size: .7rem; 
}
