/* reverse header */
.site-header .reverse-header {
  background-color: transparent; 
  border-bottom: 0; 
  position: absolute; 
  text-shadow: 1px 1px 2px #323232; 
}

.cover {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url("../../images/home-hero.jpg") no-repeat top;
  background-size: cover, cover; 
  height: 100vh; 
  .hero-logo {    
    margin-left: 41.5%; 
    margin-top: 17%; 
    height: 250px;
    width: 250px;
  }
}


.site-content .featured-posts {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;

}

.shop-title {
  text-align: center; 
}

.site-content .featured-posts .post {
  width: 33%;
  height: 500px; 
  margin-top: 5px; 
  text-align: center; 
}

.site-content .shop-stuff {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
}

.site-content .shop-stuff .stuff {
  flex: 0 1 23.5%;
  max-width: 23.5%;
  padding: .75rem;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  text-align: center; 
  img {
    height: 70px; 
    width: 70px; 
  }
  .btn {
    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

