/* reverse header */
.site-header .reverse-header {
  background-color: transparent; 
  border-bottom: 0; 
  position: absolute; 
  text-shadow: 1px 1px 2px #323232; 
}

.cover {
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url("../../images/home-hero.jpg") no-repeat top;
  background-size: cover, cover; 
  height: 100vh; 
  .hero-logo {    
    margin-left: 41.5%; 
    margin-top: 17%; 
    height: 250px;
    width: 250px;
  }
}


.site-content .featured-posts {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;

}

.site-content .featured-posts .post {
  width: 33%;
  height: 500px; 
  margin-top: 5px; 
  text-align: center; 

}